/* RESET CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERAL CSS */
body {
    height: 100vh;
    background-image: url(../img/background.jpg);
    background-size: cover;
    display: flex;
    align-items: center;
}

p, h1, h2, h3, h4 {
    margin: 0px;
}

/* Variables */
:root {
    --access-grey: lightsteelblue;
    --access-green: lightgreen;
    --access-red: lightcoral;
    --bg-white: rgba(255, 255, 255, 0.2);
    --shadow-color: rgba(0, 0, 0, 0.5);
}

/* EMAIL CHECKER CSS */
.access-display {
    width: 100%;
    height: 100px;
    border-radius: 10px;
}

.access-grey {
    background-color: var(--access-grey);
}

.access-green {
    background-color: var(--access-green);
}

.access-red {
    background-color: var(--access-red);
}

.email-checker, .dice-game {
    background-color: var(--bg-white);
    backdrop-filter: blur(5px);
    border-radius: 30px;
    box-shadow: 0 0 10px var(--shadow-color);
}

.email-checker button {
    border: none;
    border-radius: 10px;
    padding: 6px 12px;
    background-color: var(--bg-white);
}

/* DICE GAME CSS */
.game img {
    width: 60%;
}

.game {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.match-info {
    border-radius: 30px;
}